.justify {
  display: flex;
  justify-content: center;
}

.bsdept a {
  text-decoration: none;
  /* width: 200px; */
}
.bsdept {
  /* background-color: green; */

  justify-content: center;
  align-items: center;
  display: flex;
  /* width: 120px; */
  height: 70px;

  /* margin-left: 2px; */

  /* width: 100px; */
  /* color: white; */
  /* margin-right: 4px; */
}
.bsdept a {
  /* background-color: blue; */
  background-color: #172540;
  height: 70px;
  width: 180px;
  line-height: 4;
  border-radius: 10px;
  color: aliceblue;
}
.custom_head {
  background-color: #172540;
  color: aliceblue;
  border-bottom: 5px solid #ffc137;
  /* margin-bottom: 2px solid #ffc137; */
}
.bsdept a:hover {
  color: #ffc137;
}

.dept_container {
  height: 450px;
}
